{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}Program &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row panel">
    <div class="large-12 columns">
      <h1>{{ branchOffice.name }} / {{ date|date("d. m. Y", "Europe/Prague") }}</h1>
      <hr />
      <div class="row schedule-board-wrapper">
        {% for hall in hallList %}
	      <div class="large-{{ 12//hallList|length }} columns hall" style="height: {{ maximumMinuteOffset-minimumMinuteOffset+100 }}px">
	        <h3 class="">{{ hall.label }}</h3>
	        <div class="schedule-board" style="height: {{ maximumMinuteOffset-minimumMinuteOffset }}px">
	          {% for programRecord in programRecordList %}
			    {% if programRecord.hallId == hall.hallId %}
			    	<a href="{{ path('multikino_detail', {'projectionId': programRecord.projectionId} ) }}" class="projection"
                       style="top: {{ programRecord.minuteOffsetFromMidnight - minimumMinuteOffset }}px; height: {{ programRecord.runningTime }}px">
				    	<div data-tooltip title="{{ programRecord.descritiption }} Klikněte pro detail">
				    		<h4>{{ programRecord.projectionStartTime|date("H:i") }} | {{ programRecord.title }}</h4>
				    		<p>
				    		  Délka {{ programRecord.runningTime }} min.<br />
				    		  Volná místa: {{ programRecord.seatsTotal - programRecord.seatsBooked }} z {{ programRecord.seatsTotal }}
				    		</p>
				    	</div>
			    	</a>
			    {% endif %}
		      {% endfor %}
	        </div>
	      </div>
	    {% endfor %}
	  </div>

    </div>
  </div>


{% endblock %}
